<div class="Header">
  <div class="HeaderContainer">
    <span class="HeaderSubtitle">GriM & Acciaio's</span>
    <span class="HeaderSubSubtitle">(stupidly late)</span>
    <span class="HeaderTitle">MOXTOBER 2020</span>
    <img src="/assets/topbanner.png">
  </div>
</div>
<div class="Container">
  <div class="Decal Right"></div>
  <div class="Decal Left"></div>
  <div class="Cloth"></div>
  <div *ngFor="let prompt of prompts; let i = index" class="Row">
    <span class="Title">
      <span class="Label">Day #{{ i + 1 }}: </span><span class="Prompt">{{ prompt.prompt }}</span>
    </span>

      <div class="CardContainer">

        <div class="Scene" >
          <div class="Details Left">
            <div class="Note"><span *ngFor="let line of prompt.matt.description">{{ line }}</span></div>
            <div class="Bullshit"><span *ngFor="let line of prompt.matt.bullshit">{{ line }}</span></div>
          </div>
          <div class="Card Matt" (click)="rotateCard('matt',i)" [ngClass]="{'Flipped' : clicks['matt'][i] % 2 !== 0 }">
            <img *ngIf="clicks['matt'][i] < 2 || !prompt.matt.image2" class="CardFace Back Unselectable" src="/assets/card_back.png">
            <img *ngIf="clicks['matt'][i] > 1 && prompt.matt.image2" class="CardFace Back Unselectable" [src]="prompt.matt.image2"> <!-- Shows up too early! Should wait until animation is finished-->
            <img class="CardFace Front Unselectable" [src]="prompt.matt.image">
          </div>
        </div>
        <div class="Scene" >

          <div class="Details Right">
            <div class="Note"><span *ngFor="let line of prompt.albi.description">{{ line }}</span></div>
            <div class="Bullshit"><span *ngFor="let line of prompt.albi.bullshit">{{ line }}</span></div>
          </div>
          <div class="Card Albi" (click)="rotateCard('albi',i)" [ngClass]="{'Flipped' : clicks['albi'][i] % 2 !== 0 }">
            <img *ngIf="clicks['albi'][i] < 2 || !prompt.albi.image2" class="CardFace Back Unselectable" src="/assets/card_back.png">
            <img *ngIf="clicks['albi'][i] > 1 && prompt.albi.image2" class="CardFace Back Unselectable" [src]="prompt.albi.image2">
            <img class="CardFace Front Unselectable" [src]="prompt.albi.image">
          </div>
        </div>
      </div>

  </div>
</div>
